table {
    border: 1px solid;
    background-color: mediumorchid;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
  }

  td {
    background-color: rgb(148, 56, 171);
  }
  #keses {
    background-color: red;
} 
  .elsooszlop {
    background-color: rgb(90, 53, 124);
  }
  table, th, td {
    border: 1px solid;
    border-color: black;
  }